.main{
    background: white;
}
.p{
    font-size: 16px;
}
.col-st-n4{
    background:white;
    padding-bottom: 1rem;
}
.row{
    background: #fff;
    padding: 0 35px 35px 35px;
    box-shadow: 0px 0px 20px 0px rgba(212, 217, 234, 0.45);
    border-radius: 15px;
    position: relative;
}