body{
    margin: 0;
}
.Custom-header{
    background-color: #17479d;
    width: 1426px;
    height:80px;
    justify-content: space-between;
}
.row{
    position: absolute;
    min-height: 80px;
    width: 1424px;
}
.custom-search-form{
    position: relative;
    right:70px;
}
.custom-search-input{
    position:relative;
    border-radius: 15px;
    border:none;
    top:20px;
}
.custom-search-btn{
    position:relative;
    top:20px;
    background-color:#17479d;
    font-size: 25px;
}
.custom-icon-lg{
    font-size:35px;
}

.menu_icon{
    position: relative;
    font-size:25px;
    cursor: pointer;
}
.Trademark_logo{
    position: relative;
    bottom: 160px;
}
.container-2{
    position: relative;
    top:81px;
    width: 100%;

}
.btn-group{
    height:40px;
    background-color:#e5eeff;
}
.dropdown-item:hover {
    transition: 2ms;
    color:#17479d;
}