body{
    background:cyan;
}
.container{
    background-color:#18479e;
    height:484px;
    width:430px;
    margin-top:300px;
    margin-bottom:140px;
    border-radius: 15px;
}
.row-1{
    width:100%;
    height:50px;
    position:relative;
    top:45px;
    color:white;
}
.row-2{
    width:100%;
    height:50px;
    position:relative;
    top:145px;
    color:white;
    text-align: center;
}
.Confirm{
    background-color:#f5df4d;
    border-radius:15px;
    width:80%;
    border-style:none;
}