.main{
 background: white;
}
.pt-4{
    background:white;
    padding-bottom: 1rem;
}
.b1{
    display: block;
    font-size: 50px;
}
.b2, .b3 {
    width: 100%;
}
.otg-mz4{
    background: #fff;
    padding: 0 35px 35px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(212, 217, 234, 0.45);
    border-radius: 15px;
    position: relative;
}
.p{
    font-size: 16px;
}

