header{
    text-align: center;

}
header .header_menu{
    background-color:#18479e;
    Width:1424px;
    height:84px;
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;
}


.header_left {
    flex-basis: 20%;
}
.logo-icon1 {
    font-size:30px;
    cursor: pointer;
    position: relative;
    right:70px;

}
.logo-icon1:hover{
    transition:2ms ;
    color:#007bff;
}
.header_center{
    flex-grow: 1;
    text-align: center;

}
.Trademark_logo{
    position:relative;
    bottom:150px;
    filter: brightness(115%);

}





    .header_right {
        flex-basis:20%;
        text-align:right;

    }

    .logo-icon2 {
        position: relative;
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: relative;
        right:70px;
    }
    .logo-icon2:hover {
        transition:2ms ;
        color:#007bff;
    }
    .header_bottom {
        padding: 10px 20px 20px;
        background-color:#18479e;
        Width:100%;

    }
    .Search_container{


        }





    .search_input{
        flex-grow:1;
        font-size:25px;
        Width:50%;
        border:1px solid #ccc;
        margin:auto;
        padding-top:8px;
        padding-bottom:8px;
        padding-left:10px;
        padding-right:50px;
        border-radius: 12px;
    }
    .search_button{
        font-size:25px;
        cursor: pointer;
        border:none;
        padding-top:6px;
        padding-bottom:6px;
        padding-right: 12px;
        padding-left:12px;
        border-radius: 12px;
        margin-left:-1px;
    }
.menu_item{
    height:100px;
    position:relative;
    background-color:#e6eeff;
    font-size:25px;
    display: flex;
    padding:0 10px;
    justify-content: center;
}
.item{
    float:left;
    padding:20px;
    cursor:pointer;
    border:#e5eeff solid ;
    text-align: center;
}
.item-icon{
    font-size:16px;
    display:inline-block;
}
.item:hover{
    transition:2ms ;
    color:#007bff;
}

.subitem_menu{
    display: none;
    position:relative;
    bottom: 30px;
    margin-left: -30px;
    border: 1px solid hsl(0, 0%, 87%);
    width: 230px;
    background-color: white;
    list-style:none;



}
.item:hover .subitem_menu{
    display: block;
}
.subitem{
    padding: 15px 30px;
    display: block;
    color: black;
    cursor:pointer;
}
.subitem:hover{
    transition:2ms ;
    color:#007bff;
}

