header{
    text-align: center;

}
header .header_menu{
    background-color:#18479e;
    Width:1424px;
    height:84px;
    display:flex;
    justify-content: space-between;
    padding: 15px 20px;
}


.header_left {
    flex-basis: 20%;
}
.logo-icon1 {
    font-size:30px;
    cursor: pointer;
    position: relative;
    right:70px;

}
.header_center{
    flex-grow: 1;
    text-align: center;

}



    .header_right {
        flex-basis:20%;
        text-align:right;

    }

    .logo-icon2 {
        position: relative;
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: relative;
        right:70px;
    }
    .header_bottom {
        padding: 10px 20px 20px;
        background-color:#18479e;
        Width:100%;

    }
    .Search_container{




    }
    .search_input{
        flex-grow:1;
        font-size:18px;
        Width:35%;
        margin:auto;
    }
    .search_button{
        font-size:18px;
        cursor: pointer;
    }
.menu_item{
    height:47px;
    position:relative;
    background-color:#e6eeff;
    font-size:25px;
    display: flex;
    padding:0 10px;
    justify-content: center;
}
.item{
    float:left;
    padding:20px;
    cursor:pointer;

}
.item-icon{
    font-size:16px;
    display:inline-block;
}
.item:hover{
    transition:2ms ;
    color:#007bff;
}
